<h1>Book a Lawn</h1>

<p>Book a lawn at the club.</p>

<p>All bookings will be immediately propagated to all other users of the site.</p>

<% Lawn.all.each do |lawn| %>
    <section id="<%= lawn.id %>">
        <h3>Lawn: <%= lawn.id %></h3>
        <p>Is booked: <%= lawn.booked %></p>
        <%= button_to "Book this Lawn", update_lawn_path(lawn_id: lawn) %>
        <br>
    </section>
<% end %>

<%= link_to "Reset all Lawns", reset_lawns_path %>