<h1>Book a Lawn</h1>

<p>Book a lawn at the club.</p>

<p>All bookings will be immediately propagated to all other users of the site.</p>

<% @bookings.each do |lawn, booking| %>
    <section>
        <h3>Lawn: <%= lawn %></h3>

        <% booking.each do |b| %>
            <p><%= b.date.to_formatted_s(:long) %> at <%= b.time.to_formatted_s(:time) %></p>
            <p><%= b.booked %></p>
            <%= button_to "Book this Slot", update_booking_path(booking_id: b), :disabled => b.booked? %>
        <% end %>
        <br>
    </section>
<% end %>

<%= link_to "Reset all Lawns", reset_bookings_path %>