<h1><%= @title %></h1>

<article id="events">
	<% @events.each do |event| %>
		<section>
			<h2><%= event.title %> (<%= event.date.to_formatted_s(:long) %>)</h2>
			<p>
				<%= event.description %>
			</p>
		</section>
	<% end %>
</article>

<article id="past_events">
    <h2>Past Events - </h2>
    <% @past_events.each do |event| %>
        <section>
            <h2><%= event.title %> (<%= event.date.to_formatted_s(:long) %>)</h2>
            <p>
                <%= event.description %>
            </p>
        </section>
    <% end %>
</article>

<button id="show_events">Click here to show past events</button>
<button id="hide_events">Click here to hide past events</button>
