<nav>
	<ul>
		<li><%= link_to 'Home', root_path  %></li>
		<li><%= link_to 'About the Club', about_the_club_path  %></li>
		<li><%= link_to 'How to Join', how_to_join_path  %></li>
		<li><%= link_to 'What You Need', what_you_need_path  %></li>
		<li><%= link_to Time.now.year.to_s + ' Programme', programme_path  %></li>
		<li><%= link_to 'News letters', news_letters_path  %></li>
		<li><%= link_to 'Club Matters', club_matters_path  %></li>
		<li><%= link_to 'How to get There', how_to_get_there_path  %></li>
		<li><%= link_to 'Book a Lawn', book_a_lawn_path  %></li>
		<li><%= link_to 'Links to Croquet Sites', links_path  %></li>
	</ul>
</nav>